{% extends 'base.html'%}

{% block title  %}
<title>Онлайн магазин</title>
{% endblock  %}

{% block body  %}
<div class="container py-3">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for el in data %}
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Free" data-translation="Бесплатно" data-ch="0" data-type="trSpan" style="visibility: initial !important;">{{el.title}}</ya-tr-span></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="$0" data-translation="0 долларов" data-ch="0" data-type="trSpan" style="visibility: initial !important;">{{el.price}}</ya-tr-span><small class="text-body-secondary fw-light"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="/mo" data-translation="/ месяц" data-ch="0" data-type="trSpan" style="visibility: initial !important;">/ месяц</ya-tr-span></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="10 users included" data-translation="включено 10 пользователей" data-ch="0" data-type="trSpan" style="visibility: initial !important;">включено 10 пользователей</ya-tr-span></li>
            <li><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="2 GB of storage" data-translation="2 ГБ памяти" data-ch="0" data-type="trSpan" style="visibility: initial !important;">2 ГБ памяти</ya-tr-span></li>
            <li><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email support" data-translation="Поддержка по электронной почте" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Поддержка по электронной почте</ya-tr-span></li>
            <li><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Help center access" data-translation="Доступ к справочному центру" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Доступ к справочному центру</ya-tr-span></li>
          </ul>
          <a href='/buy/{{ el.id }}' class="w-100 btn btn-lg btn-outline-primary">Купить<ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Sign up for free" data-translation="Зарегистрируйтесь бесплатно" data-ch="0" data-type="trSpan" style="visibility: initial !important;"></ya-tr-span></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock  %}

